*{
	font-family: 'Roboto', sans-serif;
}


.order-details label
{
   font-size: 12px;
   font-weight: 700;

}

.order-details div
{
   font-size: 14px;
   padding: 5px !important;

}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f8f9fa;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 0px;
    margin-bottom: 0px;

}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.card-body h5{
    font-size: 18px;
    font-weight: 500;
    color: #1b51a1;
    text-decoration: none;        
}

.card-body p{
    font-size: 16px;
    font-weight: 500;
    color: #423e3e;   
    text-decoration: none;
}


.card-img-top
{
  width: 90%;
  height: 18vw;
  object-fit: cover;
}

.card-group
{
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 20px;

}

.card-img-top
{
    width: 100%;
    height: 18vw;
    object-fit: cover;
}


.card-img
{
    overflow: hidden;

}

.card-img img
{
    transition: all 1.5s ease;
    width: 100%;
}

.carousel-item img
{
    width: 100%;
    height: 45rem;

}

.card-img:hover img
{
    transform: scale(1.5);
}


@media screen and (max-width: 786px)
{
    .card-img-top
    {
        height: auto;
    }
}

a.nav-link:hover
{
    color: inherit;
}

a.nav-link .active
{
    color: #007bff;
}


/* rating */
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
  }

  .rating-css input {
    display: none;
  }

  .rating-css input + label {
    font-size: 60px;
    text-shadow: 1px 1px 0 #8f8420;
    cursor: pointer;
  }

  .rating-css input:checked + label ~ label {
    color: #b4afaf;
  }

  .rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
  }

/* End of Star Rating */

.search-bar
{
    width: 40%;
    margin-left: 4%;
}

.checked
{
    color :#ffd900;
}

/*

    .owl-carousel .owl-nav{
        overflow: hidden;
        height: 0px;
      }

      .owl-theme .owl-dots .owl-dot.active span,
      .owl-theme .owl-dots .owl-dot:hover span {
          background: #2caae1;
      }


      .owl-carousel .item {
          text-align: center;
      }
      .owl-carousel .nav-btn{
          height: 47px;
          position: absolute;
          width: 26px;
          cursor: pointer;
          top: 100px !important;
      }

      .owl-carousel .owl-prev.disabled,
      .owl-carousel .owl-next.disabled{
        pointer-events: none;
        opacity: 0.2;
      }

      .owl-carousel .prev-slide{
          background: url(leftleo.png) no-repeat scroll 0 0;
          left: -33px;
      }
      .owl-carousel .next-slide{
          background: url(leftleo.png) no-repeat scroll -24px 0px;
          right: -33px;
      }


      span.img-text {
        text-decoration: none;
        outline: none;
        transition: all 0.4s ease;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        cursor: pointer;
        width: 100%;
        font-size: 23px;
        display: block;
        text-transform: capitalize;
      }
      span.img-text:hover {
        color: #2caae1;
      }
*/


.owl-prev{
    left: -33px;
}
.owl-next{
    right: -33px;
}


.owl-prev , .owl-next{

    position: absolute;

    top: 90px !important;
}

.owl-prev span , .owl-next  span
{
    font-size: 80px;
    color:black;
}
